* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #9264b7;
    text-align: center;
    padding: 30px;
}

h1 {
    margin-bottom: 30px;
    color: #060505;
}

.flashcards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card {
    width: 90%;
    max-width: 500px;
    min-height: 150px;

    padding: 25px;

    background-color: #f07d7d;
    border-radius: 20px;

    border: 2px solid #000000;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}

.card h2 {
    margin-bottom: 15px;
}

.card p {
    font-size: 17px;
    line-height: 1.5;
}

.card:hover {
    transform: scale(1.02);
}
.card.clicado {
    background-color: #750404;
    color: white;
    border-color: #000000;
}