* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3e8ff;
    text-align: center;
    padding: 40px 20px;
}

h1 {
    color: #4b3b5a;
    font-size: 36px;
    margin-bottom: 45px;
}

.flashcards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    width: 230px;
    height: 500px;

    padding: 30px 25px;

    background-color: #ffffff;
    color: #4b3b5a;

    border: none;
    border-radius: 25px;

    box-shadow: 0 8px 20px rgba(75, 59, 90, 0.15);

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-25px) scale(1.04);
    background-color: #7b5ca7;
    color: white;
    box-shadow: 0 20px 35px rgba(75, 59, 90, 0.30);
    
}


.card h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

.card p {
    font-size: 17px;
    line-height: 1.6;
}

/* COR QUANDO CLICAR */

.card.clicado {
    background-color: #7b5ca7;
    color: white;
    box-shadow: 0 10px 25px rgba(75, 59, 90, 0.3);
}

/* CELULAR */

@media (max-width: 600px) {

    body {
        padding: 30px 15px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .card {
        width: 170px;
        height: 350px;
        padding: 20px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card p {
        font-size: 15px;
    }
}